<template>
    <main class="pt-5 mdb-docs-layout">
        <div class="container mt-5 px-lg-5">
            <section id="section-introduction">
                <h2 class="h1 fw-bold">Create a new match</h2>
            </section>

            <div
                class="alert alert-danger mt-4"
                role="alert"
                v-if="errors.length"
            >
                Please correct the following error(s):
                <ul>
                    <li v-for="error in errors">{{ error }}</li>
                </ul>
            </div>

            <section id="signup" class="mt-5">
                <form @submit="createMatch">
                    <div class="row">
                        <div class="col">
                            <select v-model="player1_id" class="form-control">
                                <option selected disabled value="null">
                                    Select the player 1
                                </option>
                                <option v-for="user in users" :value="user.id">
                                    {{ user.name }}
                                </option>
                            </select>
                        </div>

                        <div class="col">
                            <select v-model="player2_id" class="form-control">
                                <option selected disabled value="null">
                                    Select the player 2
                                </option>
                                <option v-for="user in users" :value="user.id">
                                    {{ user.name }}
                                </option>
                            </select>
                        </div>

                        <div class="col">
                            <select v-model="winner" class="form-control">
                                <option selected disabled value="null">
                                    Select a winner
                                </option>
                                <option value="1">Player 1</option>
                                <option value="2">Player 2</option>
                            </select>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-lg col-md-12 mt-3 mt-lg-0">
                            <MDBInput
                                type="number"
                                min="1"
                                max="50"
                                label="Balls left"
                                v-model="balls_left"
                            />
                        </div>
                    </div>

                    <div class="row mt-4 justify-content-end">
                        <div class="col-auto">
                            <MDBBtn color="primary" type="submit">
                                Create match
                            </MDBBtn>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </main>
</template>

<script>
import { MDBInput, MDBBtn, MDBSelect } from "mdb-vue-ui-kit";
import { useToast } from "vue-toastification";

const axios = require("axios");
const toast = useToast();

export default {
    components: {
        MDBInput,
        MDBBtn,
        MDBSelect,
    },
    data: () => ({
        errors: [],
        users: [],
        balls_left: null,
        player1_id: null,
        player2_id: null,
        winner: null,
    }),
    methods: {
        createMatch: function (e) {
            e.preventDefault();

            this.errors = [];

            if (!this.player1_id) {
                this.errors.push("Player 1 is required");
            }

            if (!this.player2_id) {
                this.errors.push("Player 2 is required");
            }

            if (!this.winner) {
                this.errors.push("Winner is required");
            }

            if (!this.balls_left) {
                this.errors.push("Balls left is required");
            }

            if (!this.errors.length) {
                axios
                    .post(process.env.VUE_APP_API_URL, {
                        action: "createMatch",
                        ...this.$data,
                    })
                    .then((response) => {
                        if (response.data.success) {
                            toast.success("Created a match successfully");

                            this.$router.push({
                                name: "match",
                                params: { matchId: response.data.data },
                            });
                        } else {
                            toast.error(response.data.message);
                        }
                    });
            }
        },
    },
    mounted: function () {
        axios
            .post(process.env.VUE_APP_API_URL, {
                action: "getUsers",
            })
            .then((response) => {
                if (response.data.success) {
                    this.users = response.data.data;
                } else {
                    toast.error(response.data.message);
                }
            });
    },
};
</script>
