<template>
    <main class="pt-5 mdb-docs-layout">
        <div class="container mt-5 px-lg-5">
            <div class="col d-flex justify-content-end">
                <MDBBtn class="nav-link" outline="primary">
                    <router-link to="create-match">
                        <i class="fas fa-plus"></i> create match
                    </router-link>
                </MDBBtn>
            </div>

            <MDBTabs v-model="activeTab">
                <MDBTabNav tabsClasses="mb-3">
                    <MDBTabItem tabId="matches" href="matches"
                        >Matches</MDBTabItem
                    >
                    <MDBTabItem tabId="ranking" href="ranking"
                        >Ranking</MDBTabItem
                    >
                </MDBTabNav>

                <MDBTabContent>
                    <MDBTabPane tabId="matches"><matches /></MDBTabPane>
                    <MDBTabPane tabId="ranking"><ranking /></MDBTabPane>
                </MDBTabContent>
            </MDBTabs>
        </div>
    </main>
</template>

<script>
import {
    MDBTabs,
    MDBTabNav,
    MDBTabContent,
    MDBTabItem,
    MDBTabPane,
    MDBBtn,
} from "mdb-vue-ui-kit";
import { ref } from "vue";

import Ranking from "@/components/Home/Ranking.vue";
import Matches from "@/components/Home/Matches.vue";

export default {
    name: "Home",
    components: {
        MDBTabs,
        MDBTabNav,
        MDBTabContent,
        MDBTabItem,
        MDBTabPane,
        MDBBtn,

        Ranking,
        Matches,
    },
    setup() {
        const activeTab = ref("matches");

        return {
            activeTab,
        };
    },
};
</script>
