<template>
    <main class="pt-5 mdb-docs-layout">
        <div class="container mt-5 px-lg-5">
            <section id="section-introduction">
                <h2 class="h1 fw-bold">Login</h2>
            </section>

            <div
                class="alert alert-danger mt-4"
                role="alert"
                v-if="errors.length"
            >
                Please correct the following error(s):
                <ul>
                    <li v-for="error in errors">{{ error }}</li>
                </ul>
            </div>

            <section id="signup" class="mt-5">
                <form @submit="checkLogin">
                    <div class="row">
                        <div class="col">
                            <MDBInput label="Username" v-model="username" />
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col">
                            <MDBInput
                                label="Password"
                                type="password"
                                v-model="password"
                            />
                        </div>
                    </div>

                    <div class="row mt-4 justify-content-end">
                        <div class="col-auto">
                            <MDBBtn color="primary" type="submit">
                                Login
                            </MDBBtn>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </main>
</template>

<script>
import { MDBInput, MDBBtn } from "mdb-vue-ui-kit";
import { useToast } from "vue-toastification";

const axios = require("axios");
const toast = useToast();

export default {
    components: {
        MDBInput,
        MDBBtn,
    },
    data: () => ({
        errors: [],
        username: null,
        password: null,
    }),
    methods: {
        checkLogin: function (e) {
            this.errors = [];

            if (!this.username) {
                this.errors.push("Username is required");
            }

            if (!this.password) {
                this.errors.push("Password is required");
            }

            if (!this.errors.length) {
                axios
                    .post(process.env.VUE_APP_API_URL, {
                        action: "login",
                        ...this.$data,
                    })
                    .then((response) => {
                        if (response.data.success) {
                            localStorage.setItem(
                                "apiKey",
                                response.data.data.api_key
                            );
                            localStorage.setItem(
                                "userName",
                                response.data.data.name
                            );

                            window.location.replace('/');
                        } else {
                            toast.error(response.data.message);
                        }
                    });
            }
        },
    },
};
</script>
