<template>
    <main class="pt-5 mdb-docs-layout">
        <div class="container mt-5 px-lg-5">
            <section id="section-introduction">
                <h2 class="h1 fw-bold">Match page</h2>
                <h6>{{ match.player1_name }} vs {{ match.player2_name }}</h6>
                <h6>Balls left: {{ match.balls_left }}</h6>
            </section>

            <MDBRow class="mt-5">
                <MDBCol sm="6">
                    <MDBCard>
                        <MDBCardBody>
                            <MDBCardTitle>
                                <div
                                    class="col d-flex justify-content-center mb-3"
                                >
                                    <img
                                        v-if="match.player1_avatar"
                                        width="100"
                                        class="img-fluid rounded-circle"
                                        :src="match.player1_avatar"
                                    />
                                </div>
                                <i
                                    v-if="match.player1_id === match.winner_id"
                                    class="fas fa-trophy text-warning"
                                ></i>
                                {{ match.player1_name }}
                            </MDBCardTitle>
                            <router-link
                                class="nav-link d-flex justify-content-center"
                                :to="{
                                    name: 'user',
                                    params: { userId: match.player1_id },
                                }"
                            >
                                <MDBBtn tag="a" color="primary">
                                    Visit {{ match.player1_name }}'s profile
                                </MDBBtn>
                            </router-link>
                        </MDBCardBody>
                    </MDBCard>
                </MDBCol>
                <MDBCol sm="6">
                    <MDBCard>
                        <MDBCardBody>
                            <MDBCardTitle>
                                <div
                                    class="col d-flex justify-content-center mb-3"
                                >
                                    <img
                                        v-if="match.player2_avatar"
                                        width="100"
                                        class="img-fluid rounded-circle"
                                        :src="match.player2_avatar"
                                    />
                                </div>
                                <i
                                    v-if="match.player2_id === match.winner_id"
                                    class="fas fa-trophy text-warning"
                                ></i>
                                {{ match.player2_name }}
                            </MDBCardTitle>
                            <router-link
                                class="nav-link d-flex justify-content-center"
                                :to="{
                                    name: 'user',
                                    params: { userId: match.player2_id },
                                }"
                            >
                                <MDBBtn tag="a" color="primary">
                                    Visit {{ match.player2_name }}'s profile
                                </MDBBtn>
                            </router-link>
                        </MDBCardBody>
                    </MDBCard>
                </MDBCol>
            </MDBRow>
        </div>
    </main>
</template>

<script>
import {
    MDBRow,
    MDBCol,
    MDBCard,
    MDBCardBody,
    MDBCardHeader,
    MDBCardTitle,
    MDBCardText,
    MDBBtn,
} from "mdb-vue-ui-kit";

import { useToast } from "vue-toastification";

const axios = require("axios");
const toast = useToast();

export default {
    components: {
        MDBRow,
        MDBCol,
        MDBCard,
        MDBCardBody,
        MDBCardHeader,
        MDBCardTitle,
        MDBCardText,
        MDBBtn,
    },
    data: () => ({
        match: [],
    }),
    mounted: function () {
        axios
            .post(process.env.VUE_APP_API_URL, {
                action: "getMatchDetail",
                id: +this.$route.params.matchId,
            })
            .then((response) => {
                if (response.data.success) {
                    this.match = response.data.data;
                } else {
                    toast.error(response.data.message);
                    this.$router.push({ name: "home" });
                }
            });
    },
};
</script>
