<template>
    <main class="pt-5 mdb-docs-layout">
        <div class="container mt-5 px-lg-5">
            <section id="section-introduction">
                <h2 class="h1 fw-bold">
                    Signup
                </h2>
            </section>

            <div
                class="alert alert-danger mt-4 "
                role="alert"
                v-if="errors.length"
            >
                Please correct the following error(s):
                <ul>
                    <li v-for="error in errors">{{ error }}</li>
                </ul>
            </div>

            <section id="signup" class="mt-5">
                <form @submit="checkSignUp">
                    <div class="row">
                        <div class="col">
                            <MDBInput label="Username" v-model="username" />
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-lg col-md-12 mt-3 mt-lg-0">
                            <MDBInput label="First name" v-model="first_name" />
                        </div>

                        <div class="col-lg col-md-12 mt-3 mt-lg-0">
                            <MDBInput label="Last name" v-model="last_name" />
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-lg col-md-12 mt-3 mt-lg-0">
                            <MDBInput
                                label="Password"
                                type="password"
                                v-model="password"
                            />
                        </div>

                        <div class="col-lg col-md-12 mt-3 mt-lg-0">
                            <MDBInput
                                label="Password confirmation"
                                type="password"
                                v-model="password_confirmation"
                            />
                        </div>
                    </div>

                    <div class="row mt-4 justify-content-end">
                        <div class="col-auto">
                            <MDBBtn color="primary" type="submit">
                                Sign up
                            </MDBBtn>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </main>
</template>

<script>
import { MDBInput, MDBBtn } from "mdb-vue-ui-kit";
import { useToast } from "vue-toastification";

const axios = require("axios");
const toast = useToast();

export default {
    components: {
        MDBInput,
        MDBBtn
    },
    data: () => ({
        errors: [],
        username: null,
        first_name: null,
        last_name: null,
        password: null,
        password_confirmation: null
    }),
    methods: {
        checkSignUp: function(e) {
            e.preventDefault();

            this.errors = [];

            if (!this.username) {
                this.errors.push("Username is required");
            }

            if (!this.first_name) {
                this.errors.push("First name is required");
            }

            if (!this.last_name) {
                this.errors.push("Last name is required");
            }

            if (!this.password) {
                this.errors.push("Password is required");
            }

            if (!this.password_confirmation) {
                this.errors.push("Password confirmation is required");
            }

            if (this.password !== this.password_confirmation) {
                this.errors.push(
                    "Password and password confirmation must be the same"
                );
            }

            if (!this.errors.length) {
                axios
                    .post(process.env.VUE_APP_API_URL, {
                        action: "signUp",
                        ...this.$data
                    })
                    .then(response => {
                        if (response.data.success) {
                            toast.success(response.data.data);
                            this.$router.push({ name: "login" });
                        } else {
                            toast.error(response.data.message);
                        }
                    });
            }
        }
    }
};
</script>
