<template>
    <main class="pt-5 mdb-docs-layout">
        <div class="container mt-5 px-lg-5">
            <section id="section-introduction">
                <h2 class="h1 fw-bold">{{ user.name }}</h2>
                <h6>Registered since {{ user.created_at }}</h6>
            </section>

            <MDBRow class="mt-5">
                <MDBCol sm="3">
                    <MDBCard>
                        <MDBCardImg
                            v-if="user.avatar"
                            top
                            :src="user.avatar"
                            :alt="user.name"
                        />
                        <MDBCardBody>
                            <MDBCardTitle>{{ user.name }}</MDBCardTitle>
                        </MDBCardBody>
                        <MDBListGroup flush>
                            <MDBListGroupItem>
                                {{ user.date_of_birth }}
                            </MDBListGroupItem>
                            <MDBListGroupItem>
                                {{ user.email }}
                            </MDBListGroupItem>
                        </MDBListGroup>
                    </MDBCard>
                </MDBCol>

                <MDBCol>
                    <MDBCard>
                        <MDBCardBody>
                            <MDBCardTitle>Match history</MDBCardTitle>
                            <MDBCardText>
                                <MDBTable>
                                    <thead>
                                        <tr>
                                            <th scope="col">Player 1</th>
                                            <th scope="col">Player 2</th>
                                            <th scope="col">Balls left</th>
                                            <th scope="col">Played at</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody class="align-middle">
                                        <tr v-for="row in user.matches">
                                            <td
                                                v-bind:class="{
                                                    'font-weight-bold':
                                                        row.player1_id ===
                                                        user.id,
                                                }"
                                            >
                                                <i
                                                    v-if="
                                                        row.player1_id ===
                                                        row.winner_id
                                                    "
                                                    class="fas fa-trophy text-warning"
                                                ></i>
                                                {{ row.player1_name }}
                                            </td>
                                            <td
                                                v-bind:class="{
                                                    'font-weight-bold':
                                                        row.player2_id ===
                                                        user.id,
                                                }"
                                            >
                                                <i
                                                    v-if="
                                                        row.player2_id ===
                                                        row.winner_id
                                                    "
                                                    class="fas fa-trophy text-warning"
                                                ></i>
                                                {{ row.player2_name }}
                                            </td>
                                            <td>{{ row.balls_left }}</td>
                                            <td>{{ row.created_at }}</td>
                                            <td>
                                                <MDBBtn
                                                    color="primary"
                                                    @click="clicked(row)"
                                                >
                                                    Match page
                                                </MDBBtn>
                                            </td>
                                        </tr>
                                    </tbody>
                                </MDBTable>
                            </MDBCardText>
                        </MDBCardBody>
                    </MDBCard>
                </MDBCol>
            </MDBRow>
        </div>
    </main>
</template>

<script>
import {
    MDBCard,
    MDBCardBody,
    MDBCardTitle,
    MDBCardText,
    MDBTable,
    MDBBtn,
    MDBRow,
    MDBCol,
    MDBCardImg,
    MDBListGroup,
    MDBListGroupItem,
} from "mdb-vue-ui-kit";

import { useToast } from "vue-toastification";

const axios = require("axios");
const toast = useToast();

export default {
    components: {
        MDBCard,
        MDBCardBody,
        MDBCardTitle,
        MDBCardText,
        MDBTable,
        MDBBtn,
        MDBRow,
        MDBCol,
        MDBCardImg,
        MDBListGroup,
        MDBListGroupItem,
    },
    data: () => ({
        user: [],
    }),
    mounted: function () {
        axios
            .post(process.env.VUE_APP_API_URL, {
                action: "getUserDetail",
                id: this.$route.params.userId,
            })
            .then((response) => {
                if (response.data.success) {
                    this.user = response.data.data;
                } else {
                    toast.error(response.data.message);
                    this.$router.push({ name: "home" });
                }
            });
    },
    methods: {
        clicked: function (row) {
            this.$router.push({ name: "match", params: { matchId: row.id } });
        },
    },
};
</script>
