<template>
    <MDBInput label="Search" v-model="searchInput" v-on:change="getMatches" />

    <MDBTable>
        <thead>
            <tr>
                <th scope="col">Player 1</th>
                <th scope="col">Player 2</th>
                <th scope="col">Balls left</th>
                <th scope="col">Played at</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody class="align-middle">
            <tr v-for="row in matches">
                <td>
                    <img
                        v-if="row.player1_avatar"
                        width="50"
                        class="img-fluid rounded-circle"
                        :src="row.player1_avatar"
                    />
                    <i
                        v-if="row.player1_id === row.winner_id"
                        class="fas fa-trophy text-warning"
                    ></i>
                    <router-link
                        :to="{
                            name: 'user',
                            params: { userId: row.player1_id },
                        }"
                    >
                        {{ row.player1_name }}
                    </router-link>
                </td>

                <td>
                    <img
                        v-if="row.player2_avatar"
                        width="50"
                        class="img-fluid rounded-circle"
                        :src="row.player2_avatar"
                    />
                    <i
                        v-if="row.player2_id === row.winner_id"
                        class="fas fa-trophy text-warning"
                    ></i>
                    <router-link
                        :to="{
                            name: 'user',
                            params: { userId: row.player2_id },
                        }"
                    >
                        {{ row.player2_name }}
                    </router-link>
                </td>

                <td>{{ row.balls_left }}</td>
                <td>{{ row.created_at }}</td>
                <td>
                    <MDBBtn color="primary" @click="clicked(row)">
                        Match page
                    </MDBBtn>
                </td>
            </tr>
        </tbody>
    </MDBTable>
</template>

<script>
import { MDBTable, MDBInput, MDBBtn } from "mdb-vue-ui-kit";
import { useToast } from "vue-toastification";

const axios = require("axios");
const toast = useToast();

export default {
    components: {
        MDBTable,
        MDBInput,
        MDBBtn,
    },
    data: () => ({
        searchInput: null,
        matches: [],
    }),
    methods: {
        getMatches: function () {
            axios
                .post(process.env.VUE_APP_API_URL, {
                    action: "getMatches",
                    query: this.searchInput,
                })
                .then((response) => {
                    if (response.data.success) {
                        this.matches = response.data.data;
                    } else {
                        toast.error(response.data.message);
                    }
                });
        },
        clicked: function (row) {
            this.$router.push({ name: "match", params: { matchId: row.id } });
        },
    },
    mounted: function () {
        this.getMatches();
    },
};
</script>
