<template>
    <MDBInput label="Search" v-model="searchInput" v-on:change="getRanking" />

    <MDBTable>
        <thead>
            <tr>
                <th scope="col">Position</th>
                <th scope="col">Player name</th>
                <th scope="col">Points</th>
                <th scope="col">Victories</th>
                <th scope="col">Balls left</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody class="align-middle">
            <tr v-for="(row, index) in ranking">
                <td>{{ index + 1 }}</td>
                <td>
                    <img
                        v-if="row.avatar"
                        width="50"
                        class="img-fluid rounded-circle"
                        :src="row.avatar"
                    />
                    <router-link
                        :to="{
                            name: 'user',
                            params: { userId: row.id },
                        }"
                    >
                        {{ row.name }}
                    </router-link>
                </td>
                <td>{{ row.points }}</td>
                <td>{{ row.victories }}</td>
                <td>{{ row.sum_balls_left }}</td>
                <td>
                    <MDBBtn color="primary" @click="clicked(row)">
                        Profile page
                    </MDBBtn>
                </td>
            </tr>
        </tbody>
    </MDBTable>
</template>

<script>
import { MDBTable, MDBInput, MDBBtn } from "mdb-vue-ui-kit";
import { useToast } from "vue-toastification";

const axios = require("axios");
const toast = useToast();

export default {
    components: {
        MDBTable,
        MDBInput,
        MDBBtn,
    },
    data: () => ({
        searchInput: null,
        ranking: [],
    }),
    methods: {
        getRanking: function () {
            axios
                .post(process.env.VUE_APP_API_URL, {
                    action: "getRanking",
                    query: this.searchInput,
                })
                .then((response) => {
                    if (response.data.success) {
                        this.ranking = response.data.data;
                    } else {
                        toast.error(response.data.message);
                    }
                });
        },
        clicked: function (row) {
            this.$router.push({ name: "user", params: { userId: row.id } });
        },
    },
    mounted: function () {
        this.getRanking();
    },
};
</script>
