<template>
    <nav
        id="mdb-navbar"
        class="navbar fixed-top navbar-expand-lg navbar-light bg-white shadow-2"
    >
        <div class="container-fluid">
            <!-- Navbar brand -->
            <a class="navbar-brand" href="#">Pool tournament</a>

            <!-- Right links -->
            <ul
                id="dpl-navbar-new-right-buttons"
                class="navbar-nav ms-auto d-flex flex-row align-items-center"
            >
                <li class="nav-item">
                    <router-link class="nav-link" to="/">
                        <i class="fas fa-home"></i> Homepage
                    </router-link>
                </li>

                <li class="nav-item ms-2" v-if="isLogged && userName">
                    Welcome, {{ userName }}
                </li>

                <li class="nav-item ms-3" v-if="isLogged">
                    <MDBBtn outline="secondary" @click="logout()">
                        <i class="fas fa-sign-in-alt"></i> Logout
                    </MDBBtn>
                </li>

                <li class="nav-item" v-if="!isLogged">
                    <router-link class="nav-link" to="/login">
                        <i class="fas fa-sign-in-alt"></i> Login
                    </router-link>
                </li>

                <li class="nav-item" v-if="!isLogged">
                    <router-link class="nav-link" to="/sign-up">
                        <MDBBtn outline="secondary">
                            <i class="fas fa-user-plus"></i> Sign up
                        </MDBBtn>
                    </router-link>
                </li>
            </ul>
        </div>
    </nav>
</template>

<script>
import { MDBBtn } from "mdb-vue-ui-kit";

export default {
    components: {
        MDBBtn,
    },
    data: () => ({
        isLogged: localStorage.hasOwnProperty('apiKey'),
        userName: localStorage.getItem('userName'),
    }),
    methods: {
        logout: function () {
            localStorage.removeItem('apiKey');
            localStorage.removeItem('userName');
            this.$router.push("/");
            location.reload();
        },
    },
};
</script>
